<!-- Start topnav -->
<br>
<div class="container">
    <div class="topnav">
        <a class="menu-tab active" href="{% url 'display_tool' %}">Product</a>
        <a class="menu-tab" href="{% url 'contact' %}">Contact</a>
        <a class="menu-tab" href="#feedback">Feedback</a>
        <a class="menu-tab" href="{% url 'trems' %}">Terms</a>
        <a class="menu-tab" href="{% url 'about' %}">About</a>
        <a class="menu-tab" href="#Trusted_Advisor">Affiliate Program</a>
    </div>
</div>
<!-- End topnav -->
