/* ! product-details */
.product-details {
    padding-top: 70px;
}

.product-box {
    background-color: #F5F5F5;
    border-radius: 0.5rem;
    padding: 16px 16px;
    position: relative;
    margin-bottom: 3rem;
}

.product-title {
    color: #3F4A60 !important;
    font-size: 24px;
    display: flex;
    justify-content: left;
}

.product-subtitle {
    color: #3f4a60;
    font-size: 14px;
    margin-bottom: 1rem;
    border-bottom: 1px solid #e8e8e8;
    align-items: center;
    justify-content: flex-start;
    display: flex;
}

.product-subtitle #sapn2 {
    color: lime !important;
}

.product-content {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.product-content .product-image {
    width: 100%;
    max-width: 450px;
    margin-right: 30px;
}

@media (max-width: 992px) {
    .col-md-3 .product-description {
        margin-top: 20px;
        text-align: center !important;
        /* يمكنك تعديل القيمة حسب احتياجاتك */
    }
}

/* ! paument-card */

.card-container {
    padding-top: 70px;
}

.card {
    /* width: 340px; */
}

.card-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: baseline;
}

.card-body .to-back {
    cursor: pointer;
    color: #0a1730;
}

.card-body .card-title {
    font-size: 18px;
    color: #3f4a60;
    margin-bottom: 1.5rem;
}

.card-info {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    align-items: center;
}

.card-info .card-text {
    font-size: 14px;
    color: #0a1730;
}

.card-info .total-price {
    font-size: 24px;
    color: #5f40e5;
    font-weight: 600;
}

.btn-purchase {
    display: flex;
}

.btn-purchase button, .btn-purchase a {
    width: 86%;
    margin: 20px;
    height: 40px;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* product-description */

.product-description h3 {
    font-size: 0.9rem;
    margin: 0;
    line-height: 1.2rem;
    margin-bottom: 0.6rem;
    color: #0a1730;
    padding-left: 20px;
}

.product-description p {
    text-align: start;
    padding-left: 20px;
}

@media (max-width: 768px) {
    .product-description h3 {
        margin-top: 32px  !important;
    }
}


