{% extends 'base.html' %}
{% load static %}


{% block content %}

{% include 'other/topnav.html' %}
{% include 'other/search.html' %}


    <!-- start Card  -->
    <div class="container">
        <div class="card-box">
            {% for tool in tools %}
                {% if tool.is_visible %}
                    <div class="card">
                            <a href="{% url 'tool_detail' tool.slug %}">
                                <div class="bg-image hover-zoom">
                                    {% if tool.image %}
                                        <img class="card-img-top lazyload" data-src="{{ tool.image.url }}" alt="{{ tool.tool_name }}">
                                    {% else %}
                                        <img class="card-img-top lazyload" src="{% static 'img/default-product-img.jpg' %}" alt="{{ tool.tool_name }}">
                                    {% endif %}
                                </div>
                            </a>
                            <div class="card-body card-content">
                                <h5 class="card-title">{{ tool.tool_name }}</h5>
                                <div class="card-count-price">
                                    <p class="card-text">${{ tool.price }}</p>
                                    <span>
                                        Stock
                                        {% if tool.quantity > 10 %}
                                            <i class="fa-solid fa-infinity"></i>
                                        {% else %}
                                            <span>
                                                {{ tool.quantity }}
                                            </span>
                                        {% endif %}
                                    </span>
                                </div>
                                {% if request.user.is_superuser %}
                                    <div class="btn-admin">
                                        <a class="btn btn-info" href="{% url 'update_tool' tool.id %}">update</a>
                                        <a class="btn btn-danger" href="{% url 'delete_tool' tool.id %}">delete</a>
                                    </div>
                                {% endif %}
                            </div>
                    </div>
                {% endif %}
            {% endfor %}
            <!-- Add more cards here -->
        </div>
    </div>
    <!-- end Card  -->


{% endblock content %}