{% extends 'base_theme.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="container box-login-register-form" style="padding-top: 70px;">
        <h4 class="text-slate-900 dark:text-gray-50">Change your password</h4>
        <br>
        <form method="POST" class="">
            {% csrf_token %}
            <!-- Email input -->
            <div class="form-outline mb-4 ">
                <input type="password" id="id_old_password" class="form-control " name="old_password" />
                <label class="form-label " for="id_old_password">Current password</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" id="id_new_password1" class="form-control" name="new_password1" />
                <label class="form-label" for="id_new_password1">New password</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" id="id_new_password2" class="form-control" name="new_password2" />
                <label class="form-label" for="id_new_password2">Repat password</label>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block">Reset password</button>
        </form>
    </div>

{% endblock content %}