{% extends 'base_theme.html' %}
{% load static %}
{% load i18n %}

{% block content %}

    {% include 'other/topnav.html' %}

    <div class="container box-login-register-form" style="padding-top: 70px;">
        <h4 class="text-slate-900 dark:text-gray-50">{% trans "Sign up with us" %}:</h4>
        <br>
        <div class="box-registration">
            <form method="POST">
                {% csrf_token %}
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="text" id="form3Example3" class="form-control" name="username" required/>
                    <label class="form-label" for="form3Example3">{% trans "Username" %}</label>
                </div>
                <strong style="color:red;">{{form.errors.username}}</strong>

                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="email" id="form3Example3" class="form-control" name="email" required/>
                    <label class="form-label" for="form3Example3">{% trans "Email address" %}</label>
                </div>
                <strong style="color:red;">{{form.errors.email}}</strong>

                <!-- Password input -->
                <div class="form-outline mb-4">
                    <input type="password" id="form3Example4" class="form-control" name="password1" required/>
                    <label class="form-label" for="form3Example4">{% trans "Password" %}</label>
                </div>
                <strong style="color:red;">{{form.errors.password1}}</strong>

                <!-- Password input -->
                <div class="form-outline mb-4">
                    <input type="password" id="form3Example5" class="form-control" name="password2" required/>
                    <label class="form-label" for="form3Example5">{% trans "Repeat password" %}</label>
                </div>
                <strong style="color:red;">{{form.errors.password2}}</strong>

                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-center mb-4">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" required/>
                    <label class="form-check-label text-slate-900 dark:text-gray-50" for="form2Example33">
                        {% trans "I have read and agree to the terms" %}
                    </label>
                </div>
            
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">{% trans "Sign up" %}</button>
            
                <!-- Register buttons -->
                {% comment %} <div class="text-center">
                <p>or sign up with:</p>
                <button type="button" class="btn btn-secondary btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                </button>
            
                <button type="button" class="btn btn-secondary btn-floating mx-1">
                    <i class="fab fa-google"></i>
                </button>
            
                <button type="button" class="btn btn-secondary btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                </button>
            
                <button type="button" class="btn btn-secondary btn-floating mx-1">
                    <i class="fab fa-github"></i>
                </button>
                </div> {% endcomment %}
            </form>
        </div>
    </div>


{% endblock content %}