* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.bg-body-tertiary {
    background-color: #fff !important;
    border-bottom: 1px solid #e8e8e8;
    height: 60px;
}

/* ! header  */
.container .logo {
    display: block;
    margin-top: -10px;
}

.container-fluid .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* ! Card */
.card-box {
    padding: 70px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.card {
    background: #f5f5f5;
    border-radius: 6px;
    margin-bottom: 30px;
}

.bg-image .card-img-top {
    height: 200px;
}

.card a {
    text-decoration: none;
    border: none;
}

.card .card-content {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
}

.card-body .card-title {
    /* color: #3F4A60; */
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    justify-content: left !important;
}

.card-count-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 21px;
}

.card-count-price .card-text {
    font-size: 16px;
    font-weight: 500;
    color: #5F40E5;
}

.card-count-price span {
    margin-right: 0.25rem;
    opacity: 0.7;
    color: #0A1730;
    font-size: 14px;
    font-weight: 400;
}

.card-count-price span .fa-solid {
    margin-left: .2rem !important;
    font-size: 10px !important;
    color: #28a745 !important;
}

.card-count-price span span {
    color: green
}

.btn-admin {
    margin-top: 11px;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 576px) {
    .card-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .card-box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 992px) {
    .card-box {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

}

@media (min-width: 992px) {
    .card-box-profile {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width: 576px) {
    .card-box {
        display: block;
    }
}

/* ! topnav */


.topnav {
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    margin: 0 auto 1.5rem;
    /* padding: 0.5rem 1rem 0 1rem; */
    position: relative;
    flex-wrap: wrap;
}

.topnav:before {
    position: absolute;
    bottom: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: #e8e8e8;
    z-index: 0;
}

.topnav a {
    text-decoration: none;
    font-size: 14px;
    color: #3f4a60;
    font-weight: 400;
    padding: 0.5rem 0.75rem;
    transition: all 0.3s ease;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 0.5rem 0.5rem 0 0;
    display: inline-flex;
}

.topnav .active {
    font-size: 14px !important;
    font-weight: 400 !important;
    background: #ffffff;
    border-radius: 0.25rem 0.25rem 0 0;
    position: relative;
    border-bottom: 1px solid #5f40e5;
}



@media (max-width: 576px) {
    .topnav {
        width: 100%;
        overflow-x: auto;
    }

    .topnav a {
        width: fit-content;
    }
}


/* ! footer */

.top-footer {
    margin-top: auto;
}

footer {
    width: 100%;
    /* background-color: #fff; */
    border-top: 1px solid #e8e8e8;
    padding: 28px;
    font-size: 14px;
    font-weight: 300;
    height: 79px;

}

/* login */


@media (min-width: 1200px){
    .box-login-register-form {
    width: 50% !important; /* العرض على الشاشات الكبيرة */
    margin: auto;
}
}
.pt-70 {
    padding-top: 70px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* .footer-content p {
    color: #777787;
} */

.footer-content span {
    color: #5f40e5;
}

/* ! search */

.btn-search {
    width: 10px;
    height: 43px;
    margin-top: 6px;
}

.search {
    width: 50% !important;
}

.not-found {
    padding-top: 70px;
}

.not-found p {
    text-align: center;
    margin-bottom: 30px;
    font-size: 19px;
    font-weight: 600;
}

@media only screen and (min-width: 576px) {
    .search {
        width: 70%;
    }
}

@media only screen and (min-width: 768px) {
    .search {
        width: 50%;
    }
}

@media only screen and (min-width: 992px) {
    .search {
        width: 40%;
    }
}

@media only screen and (min-width: 1200px) {
    .search {
        width: 30%;
    }
}


/* ! MDB */
.form-box {
    margin-top: 70px;
}

.form-outline {
    margin: 10px 0;
}

.buttons {
    margin-bottom: 20px;
    margin-top: 10px;
}

.form-upload {
    margin: 10px 0;
}


/* delete page */
.tool-delete {
    padding-top: 70px;
    margin-bottom: 30px;
    text-align: center;
}


/* navbar */
.dropdown-logout{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-body[class*=bg-]{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
