{% extends 'base_theme.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <form class="form-box box-login-register-form dark:bg-slate-800 bg-slate-50  " method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
            {% comment %} {{ form.as_p }} {% endcomment %}
            <div class="form-outline">
                <input type="text" id="id_name" class="form-control text-slate-900 dark:text-gray-50" name="tool_name" value="{% if form.tool_name.value %}{{ form.tool_name.value }}{% endif %}" required/>
                <label class="form-label dark:text-gray-50" for="id_name">Name</label>
            </div>
            <div class="form-outline">
                <input type="number" id="id_price" class="form-control text-slate-900 dark:text-gray-50" name="price" value="{% if form.price.value %}{{ form.price.value }}{% endif %}" required/>
                <label class="form-label dark:text-gray-50" for="id_price">Price</label>
            </div>
            <div class="form-outline">
                <input type="text" id="id_token" class="form-control text-slate-900 dark:text-gray-50" name="token" value="{% if form.token.value %}{{ form.token.value }}{% endif %}" required/>
                <label class="form-label dark:text-gray-50" for="id_token">Token</label>
            </div>
            <div class="form-outline">
                <input type="number" id="id_quantity" class="form-control text-slate-900 dark:text-gray-50" name="quantity" value="{% if form.quantity.value %}{{ form.quantity.value }}{% endif %}" required/>
                <label class="form-label dark:text-gray-50" for="id_quantity">Quantity</label>
            </div> 
            <div class="form-upload">
                <label class="form-label dark:text-gray-50" for="id_image">Image:</label>
                <input type="file" class="form-control text-slate-900 dark:text-gray-900" id="id_image" name="image" value="{% if form.image.value %}{{ form.image.value }}{% endif %}" required/>
            </div>
            <div class="form-upload">
                <label class="form-label dark:text-gray-50" for="id_upload_tool">Upload tool:</label>
                <input type="file" class="form-control text-slate-900 dark:text-gray-900" id="id_upload_tool" name="upload_tool" value="{% if form.upload_tool.value %}{{ form.upload_tool.value }}{% endif %}" required/>
            </div> 
            <!-- btn -->
            <div class="buttons">
                <input type="submit" class="btn btn-success" name="Submit"/>
                <input type="reset" class="btn btn-danger" value="Reset">
            </div>
        </div>
    </form>
{% endblock content %}