{% load static %}
{% load i18n %}

{% block stylecss %}
    <script src="{% static 'js/for-alert.js' %}" defer></script>
{% endblock stylecss %}

{% if messages %}
    {% for message in messages %}
        <div class="container" style="padding-top: 30px;">
            {% if message.tags == 'info' %}
                <div class="alert alert-primary alert-dismissible border border-info fade show" role="alert">
                    {{ message|safe }}.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% elif message.tags == 'success' %}
                <div class="alert alert-success alert-dismissible border border-success fade show" role="alert">
                    {{ message|safe }}.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% elif message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible border border-danger fade show" role="alert">
                    {{ message|safe }}.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endif %}

