{% load i18n %}
<!-- Start topnav -->
<br>
<div class="container">
    <div class="topnav dark:bg-slate-900 bg-slate-50">
        <a id="menu-tab" class="menu-tab active dark:text-slate-900 text-slate-900" href="{% url 'display_tool' %}">{% trans "Product" %}</a>
        <a id="menu-tab" class="menu-tab dark:text-slate-100 text-slate-900" href="{% url 'smtp_template' %}">{% trans "Smtp" %}</a>
        <a id="menu-tab" class="menu-tab dark:text-slate-100 text-slate-900" href="{% url 'sender_template' %}">{% trans "Sender" %}</a>
        <a id="menu-tab" class="menu-tab dark:text-slate-100 text-slate-900" href="{% url 'shell_template' %}">{% trans "Shell" %}</a>
        <a id="menu-tab" class="menu-tab dark:text-slate-100 text-slate-900" href="{% url 'trems' %}">{% trans "Terms" %}</a>
        <a id="menu-tab" class="menu-tab dark:text-slate-100 text-slate-900" href="{% url 'about' %}">{% trans "About" %}</a>
        <a id="menu-tab" class="menu-tab dark:text-slate-100 text-slate-900" href="#Trusted_Advisor">{% trans "Affiliate Program" %}</a>
    </div>
</div>
<!-- End topnav -->



{% block script %}
        

<script>
    "use strict";
    document.addEventListener('DOMContentLoaded', function (){
        // العثور على العلامة التبويب النشطة الحالية بناءً على URL المستعرض الحالي
        let currentPath = location.pathname;
        let activeTab = document.querySelector(`a.menu-tab[href='${currentPath}']`);
    
        // إذا وجدت العلامة التبويب النشطة، قم بإضافة الفئة "active" لها
        if(activeTab){
            activeTab.classList.add("active");
            activeTab.classList.add("text-slate-900");
            activeTab.classList.add("dark:text-slate-900");
        }
    
        // إزالة الفئة "active" من باقي العلامات التبويب
        let tabs = document.querySelectorAll("a.menu-tab");
        for(let tab of tabs){
            if(tab !== activeTab){
                tab.classList.remove("active");
                tab.classList.remove("text-slate-900");
                tab.classList.remove("dark:text-slate-900");
            }
        }
    });
    </script>

{% endblock script %}