{% extends 'base_theme.html' %}
{% load static %}
{% load i18n %}


{% block content %}

    <div class="container" style="padding-top: 70px;">
        <div>
            <span class="dark:text-gray-100 text-slate-900">
                <h4>Terms and Conditions</h4>

                <p>1. Introduction

                These terms and conditions govern your use of our website and any services or products provided through the website. By accessing or using the website, you agree to comply with these terms and conditions.</p>

                <p>2. Intellectual Property

                The content on this website, including but not limited to text, images, logos, and graphics, is protected by intellectual property laws. You may not reproduce, distribute, modify, or transmit any content from this website without our prior written consent.</p>

                <p>3. User Conduct

                You agree to use the website in a responsible and lawful manner. You must not engage in any activity that may disrupt or interfere with the proper functioning of the website or infringe upon the rights of others.</p>

                <p>4. Privacy

                We respect your privacy and handle your personal information in accordance with our privacy policy. By using this website, you consent to the collection, storage, and use of your personal information as outlined in our privacy policy.</p>

                <p>5. Disclaimer

                The information provided on this website is for general informational purposes only. We make no representations or warranties of any kind, express or implied, about the accuracy, reliability, suitability, or availability of the information contained on the website.</p>

                <p>6. Limitation of Liability

                We shall not be liable for any direct, indirect, incidental, consequential, or punitive damages arising out of your access to or use of the website or any services or products provided through the website.</p>

                <p>7. Governing Law

                These terms and conditions shall be governed by and construed in accordance with the laws of [your jurisdiction]. Any disputes arising under or in connection with these terms and conditions shall be subject to the exclusive jurisdiction of the courts of [your jurisdiction].</p>

                <p>8. Changes to Terms and Conditions

                We reserve the right to modify or update these terms and conditions at any time without prior notice. It is your responsibility to review these terms and conditions periodically for any changes.

                Please note that this is just an example of terms and conditions content. You should consult with a legal professional to ensure that your terms and conditions comply with the laws and regulations applicable to your specific jurisdiction and business.</p>

            </span>
        </div>
    </div>

{% endblock content %}